/* Added */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: sans-serif;
    display: grid;
    place-content: center;
    font-family:'Quicksand', sans-serif;
}

.card {
    display: grid;
    place-content: center;
    height: 18rem;
    width: min(90vw, 35rem);
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
    position: relative;
}
.top-triangle {
    background-color: #cc4e4c;
    height: 13rem;
    aspect-ratio: 1;
    z-index: -2;
    transform: rotate(138deg);
    position: absolute;
    top: -7rem;
    left: -6rem;
}
/* Logo styling */
.logo-container {
    position: relative;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.logo {
    margin-inline: auto;
    width: 10rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    bottom: 1.5rem;
}
.logo-name {
    font-size: 26px;
    color: #313130;
    text-align: center;
    line-height: .8;
}
.bio {
    color:  #AF7B78 ;
    text-align: center;
}
/* Unique design to look into */
/* 
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body {
            height: 100vh;
            font-family: sans-serif;
            display: grid;
            place-content: center;
            font-family:'Quicksand', sans-serif;
        }

        .card {
            display: grid;
            place-content: center;
            height: 18rem;
            width: min(90vw, 35rem);
            box-shadow: 0 0 10px #ccc;
            overflow: hidden;
            position: relative;
        }
        .top-triangle {
            background-color: #cc4e4c;
            height: 30rem;
            aspect-ratio: 1;
            z-index: -2;
            transform: rotate(138deg);
            position: absolute;
            top: -6rem;
            left: -5rem;
        }
        Logo styling
        .logo-container {
            position: relative;
            height: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .logo {
            margin-inline: auto;
            width: 10rem;
            position: absolute;
            z-index: -1;
            bottom: 1.5rem;
        }
        .logo-name {
            font-size: 26px;
            color: #313130;
            text-align: center;
            line-height: .8;
        }
        .bio {
            color:  #AF7B78 ;
            text-align: center;
        }
*/